<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of Account</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> AccountType: <%=account.AccountType%>
      <br> AccountID: <%=account.AccountID%>
      <br> TotalOrderNum: <%=account.TotalOrderNum%>
      <br> DateCreated: <%=account.DateCreated%>
      <hr>
      

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>


      <form method="POST" action="/account/delete/<%= account._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>