<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <!-- <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br> -->

      <h4>Requests to GET JSON - Chulho Yoon</h4>
      <ol>
        <li> <a href="http://localhost:8089/transaction/findall">http://localhost:8089/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/2">http://localhost:8089/transaction/findone/2</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/10">http://localhost:8089/transaction/findone/10</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view - Chulho Yoon</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/transaction">http://localhost:8089/transaction</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/create">http://localhost:8089/transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/edit/2">http://localhost:8089/transaction/edit/2</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/delete/1">http://localhost:8089/transaction/delete/1</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/details/3">http://localhost:8089/transaction/details/3</a>
        </li>

      </ol>

      <h4>Requests to GET JSON - Organization - Kenneth Grannas</h4>
      <ol>
        <li> <a href="http://localhost:8089/organization/findall">http://localhost:8089/organization/findall</a>
        </li>
        <li> <a href="http://localhost:8089/organization/findone/1">http://localhost:8089/organization/findone/1</a>
        </li>
      </ol>
      <h4>Requests to GET a view - Kenneth Grannas</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/organization">http://localhost:8089/organization</a>
        </li>
        <li>
          <a href="http://localhost:8089/organization/create">http://localhost:8089/organization/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/organization/edit/1">http://localhost:8089/organization/edit/1</a>
        </li>

        <li>
          <a href="http://localhost:8089/organization/delete/1">http://localhost:8089/organization/delete/1</a>
        </li>


        <li>
          <a href="http://localhost:8089/organization/details/1">http://localhost:8089/organization/details/1</a>
        </li>

      </ol>
      <h4>Requests to GET JSON - Account - Josh Schmitz</h4>
      <ol>
        <li> <a href="http://localhost:8089/account/findall">http://localhost:8089/account/findall</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/1">http://localhost:8089/account/findone/1</a>
        </li>

      </ol>
      <h4>Requests to GET a view - Josh Schmitz</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/account">http://localhost:8089/account</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/create">http://localhost:8089/account/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/edit/1">http://localhost:8089/account/edit/1</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/delete/1">http://localhost:8089/account/delete/1</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/details/1">http://localhost:8089/account/details/1</a>
        </li>

      </ol>

      <h4>Requests to GET JSON - Category - Nathan Meeker</h4>
      <ol>
        <li> <a href="http://localhost:8089/category/findall">http://localhost:8089/category/findall</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1">http://localhost:8089/category/findone/1</a>
        </li>

      </ol>
      <h4>Requests to GET a view - Nathan Meeker</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/category">http://localhost:8089/category</a>
        </li>
        <li> <a href="http://localhost:8089/category/findone/1">http://localhost:8089/category/create</a>
        </li>
        <li>
          <a href="http://localhost:8089/category/edit/1">http://localhost:8089/category/edit/1</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/delete/1">http://localhost:8089/category/delete/1</a>
        </li>

        <li>
          <a href="http://localhost:8089/category/details/1">http://localhost:8089/category/details/1</a>
        </li>
      </ol>

    </div>
  </div>
</div>