<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>category details</h2>
      <br>
      <br> ID: <%=  category._id %>
      <br> orderID: <%=category.orderID%>
      <br> itemType: <%=category.itemType%>
      <br> dateOrdered: <%=category.dateOrdered%>
      <br> priceRange: <%=category.priceRange%>
      <hr>

      <form method="get" action="/category">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>